* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: Arial, sans-serif;
  }
  
  /* Header */
  header {
	background-color: #f9c211;
	height: 80px;
	padding: 10px;
  }
  
  .ribbon {
	display: flex;
	align-items: center;
  }
  
  .ribbon img {
	height: 60px;
	margin-right: 10px;
  }
  
  .ribbon h1 {
	color: #fff;
	font-size: 24px;
	margin: 0;
  }
  
  /* Columns */
  .column {
	float: left;
	width: 50%;
	padding: 20px;
  }
  
  /* Slideshow */
  .slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  .mySlides {
	display: none;
  }
  
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 28px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #f9c211;
  }
  
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* Footer */
  footer {
	background-color: #f9c211;
	text-align: center;
	height: 80px;
	padding: 10px;
	clear: both;
  }
  
  footer img {
	height: 50px;
  }
  
  /* Responsive */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }
/* Định dạng cho cửa sổ pop-up */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .show-tour-3d .show-tour-3d button {
	border: none;
	background: #333;
	color: #fff;
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 17px;
	cursor: pointer;
	font-family: "Saira Semi Condensed", sans-serif;
  }
  .show-tour-3d .popup-flex {
	margin: 30px;
  }
  .show-tour-3d .popup-container {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: scale(1.3);
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
  }
  .show-tour-3d .popup-content {
	background-color: #fefefe;
	margin: auto;
	width: 100%;
	height: 100%;
  }
  .show-tour-3d .popup-content span {
	position: absolute;
	right: 30px;
	color: #fff;
	float: right;
	font-size: 40px;
	font-weight: bold;
	line-height: 50px;
	z-index: 100;
  }
  
  .show-tour-3d .show {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
  }
  
  .show-tour-3d .more-articles {
	margin: 30px 30px 50px;
	font-size: 20px;
  }
  .show-tour-3d .more-articles a {
	margin: 0 10px;
	text-decoration: underline;
  }
  
  #tour3d-popup-btn {
	width: auto;
	height: 40px;
	padding: 10px;
	color: #000;
	font-weight: bold;
	background-color: #f9c56a;
	border-radius: 10px;
	font-size: 16px;
  }
  .item {
	display: inline-block;
	background: #fff;
	margin: 0 0 1.5em;
	width: 100%;
	-webkit-transition: 1s ease all;
	margin-bottom: 70px;
  }
  .item img {
	width: 100%;
  }